@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Luckiest+Guy&family=Poppins&display=swap');

.wrapper{
    display:flex;
    flex-direction: column;
    gap:4vh;

}

.wrapper img{
    width:500px;
}

.wrapper h1{
font-size: 70px;   
font-family: 'Luckiest Guy', cursive;
animation: blink 0.7s infinite;

}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      color:rgb(244, 232, 14);
      text-shadow: 2px 2px 2px black;
    }
  }