@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Luckiest+Guy&family=Poppins&display=swap');
.wrapper{
    display:flex;
    flex-direction: row;
}


.question{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .yeah{
    font-family:'Luckiest Guy', cursive ;
    color:rgb(244, 232, 14);
    background-color: orange;
    text-shadow: 1px 1px 1px gray;
}
.nope{
    font-family:'Luckiest Guy', cursive ;
    text-shadow: 1px 1px 1px gray;
}

